<section>
    <div class="card">

        <div class="card__title">
            <div>Calculate your Bmi now!</div>
        </div>

        <div class="card__body">
            <form id="bmi-form" [formGroup]="bmiForm" (ngSubmit)="onSubmit()">
                <div class="input__slot">
                    <label for="bmi-weight">Weight</label>
                    <input type="number" name="weight" id="bmi-weight" required min="1" formControlName="weight" autocomplete="off">
                    <div class="error--text" *ngIf="weight?.hasError('required') && weight?.touched">Error</div>
                </div>
                <div class="input__slot">
                    <label for="bmi-height">Height:</label>
                    <input type="number" name="height" id="bmi-height" required min="1" formControlName="height" autocomplete="off">
                    <div class="error--text" *ngIf="height?.invalid && height?.touched">Error</div>
                </div>
                <div class="card__actions">
                    <button type="submit" form="bmi-form" class="btn primary--text" id="submit-bmi" [disabled]="!bmiForm.valid">
                        <span class="btn__content">Go</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</section>