:root {
    --primary: #2196f3;
    --error: #ff5252;
    --success: #4caf50;
  }
  
  html {
      box-sizing: border-box;
      font-size: 16px;
  }
  
  body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      max-width: 100%;
      position: relative;
      font-family: Roboto,sans-serif;
      line-height: 1.5;
  }
  
  .main {
      display: flex;
      flex: 1 0 auto;
      max-width: 100%;
  }
  
  section {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      flex: 1 1 auto;
  }
  table {
      border-spacing: 12px;
      width: 100%;
  }
  
  .alert {
      font-size: 16px;
      margin-bottom: 16px;
      padding: 16px;
      position: relative;
      transform-origin: center top 0;
      transition: .3s cubic-bezier(.25,.8,.5,1);
      border-radius: 4px;
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
      color: #fff;
      display: flex;
      align-items: center;
  }
  
  .alert__content {
      flex-grow: 1;
  }
  
  .alert__action {
      margin-left: 16px;
      flex-shrink: 1;
  }
  
  .card {
      transition: .3s cubic-bezier(.25,.8,.5,1);
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
      border-radius: 4px;
      min-width: 50%;
      transform-origin: center top 0;
  }
  
  .card__title,
  .card__body {
      padding: 16px;
  }
  
  .card__title {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: .0125em;
      line-height: 2rem;
      word-break: break-all;
  }
  
  .card__body {
      padding-top: 0;
  }
  
  .card__actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 8px;
  }
  
  .btn {
      align-items: center;
      border-radius: 4px;
      display: inline-flex;
      flex: 0 0 auto;
      font-weight: 500;
      letter-spacing: .0892857143em;
      justify-content: center;
      outline: 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      text-indent: .0892857143em;
      transition-duration: .28s;
      transition-property: box-shadow,transform,opacity;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      
      height: 36px;
      min-width: 64px;
      padding: 0 8px;
      
      background-color: #f5f5f5;
  }
  
  .btn:hover {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
  }
  
  .btn:before {
      background-color: currentColor;
      border-radius: inherit;
      bottom: 0;
      color: inherit;
      content: "";
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .2s cubic-bezier(.4,0,.6,1);
  }
  
  .btn:before:hover {
      opacity: .08;
  }
  
  .btn__content {
      align-items: center;
      color: inherit;
      display: flex;
      flex: 1 0 auto;
      justify-content: inherit;
      line-height: normal;
      position: relative;
      transition: inherit;
      transition-property: opacity;
  }
  
  .primary--text {
      color: var(--primary) !important;
      caret-color: var(--primary) !important;
  }
  
  .success--text {
      color: var(--success) !important;
      caret-color: var(--success) !important;
  }
  
  .error {
      background-color: var(--error) !important;
      border-color: var(--error) !important;
  }
  
  button,
  input {
      background-color: transparent;
      border-style: none;
  }
  
  button {
      cursor: pointer;
      color: inherit;
  }
  
  .input__slot {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      position: relative;
      margin-top: 4px;
      padding-top: 12px;
  }
  
  label {
      height: 20px;
      line-height: 20px;
      letter-spacing: normal;
  }
  
  input { 
      max-height: 32px;
      flex: 1 1 auto;
      line-height: 20px;
      padding: 8px 0;
      max-width: 100%;
      min-width: 0;
      width: 100%;
      position: relative;
      border-bottom: 1px solid currentColor;
  }
  
  input:active,
  input:focus {
      outline: none;
  }