<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Edit</title>
        <link rel="stylesheet" href="app.css"/>
    </h:head>
    <h:body>
        <div class="main">
            <section>
                <div class="card">
                    
                    <div class="card__title">
                        <div>Edit your Bmi!</div>
                    </div>

                    <div class="card__body">
                        <h:form id="bmi-form">
                            <div class="input__slot">
                                <label for="bmi-weight">Weight</label>
                                <h:inputText id="bmi-weight" 
                                             value="#{bmiHistoryModel.getSelectedBmi().weight}"
                                             required="true"
                                             requiredMessage="Weight is required"
                                             validator="#{bmiController.validateWeight}"></h:inputText>
                            </div>
                            <div class="input__slot">
                                <label for="bmi-height">Height:</label>
                                <h:inputText id="bmi-height" 
                                             value="#{bmiHistoryModel.getSelectedBmi().height}"
                                             required="true"
                                             requiredMessage="Height is required"
                                             validator="#{bmiController.validateHeight}"></h:inputText>
                            </div>
                            <div class="card__actions">
                                <h:commandButton class="btn primary--text" 
                                                 action="#{bmiHistoryModel.saveChanges(bmiHistoryModel.getSelectedBmi())}" 
                                                 value="Go">
                                </h:commandButton>
                            </div>
                        </h:form>
                    </div>

                </div>
            </section>
        </div>
    </h:body>
</html>