<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Result</title>
        <link rel="stylesheet" href="app.css"/>
    </h:head>
    <h:body>
        <div class="main">
            <section>

                <div class="card">
                    
                    <div class="card__title">
                        <div>
                            Your results! 
                            <h:outputText value="#{bmiModel.getTestDay()}">
                                <f:convertDateTime 
                                    dateStyle="short"
                                    pattern="dd. MMMM yyyy"></f:convertDateTime>
                            </h:outputText>
                        </div>
                    </div>

                    <div class="card__body">
                        <p>Bmi: 
                            <h:outputText value="#{bmiModel.getBmi()}">
                                <f:convertNumber 
                                    type="number"
                                    maxFractionDigits="2"></f:convertNumber>
                            </h:outputText>
                        </p>
                        <p>You are: #{bmiModel.getBmiEvaluation()}</p>
                        <p class="success--text">
                            <b>
                                Highscore: 
                                <h:outputText value="#{bmiModel.getHighScore()}">
                                    <f:convertNumber 
                                        type="number"
                                        maxFractionDigits="2"></f:convertNumber>
                                </h:outputText>
                            </b>
                        </p>
                        <p><a href="/bmi" class="btn">Back</a></p>
                    </div>

                </div>
                 
            </section>
            
            <section>

                <div class="card">
                    
                    <div class="card__title">
                        <div>History</div>
                    </div>

                    <div class="card__body">
                        <h:dataTable 
                            value="#{bmiHistoryModel.getBmis()}"
                            var="b">
                            <h:column>
                                <f:facet name="header">BMI</f:facet>
                                <h:outputText value="#{b.getBmi()}">
                                    <f:convertNumber 
                                        type="number"
                                        maxFractionDigits="2"></f:convertNumber>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Date</f:facet>
                                <h:outputText value="#{b.getTestDay()}">
                                    <f:convertDateTime 
                                        dateStyle="short"
                                        pattern="dd. MMMM yyyy"></f:convertDateTime>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Edit</f:facet>
                                <h:form id="bmi-edit-form">
                                    <h:commandButton class="btn primary--text" 
                                                 action="#{bmiHistoryModel.requestEdit(b)}" 
                                                 value="Edit">
                                    </h:commandButton>
                                </h:form>
                            </h:column>
                        </h:dataTable>
                    </div>

                </div>
                 
            </section>
        </div>
    </h:body>
</html>

