<section>
    <div class="card">

        <div class="card__title">
            <div>Results</div>
        </div>

        <div class="card__body">
            <p>Bmi: {{bmi.bmi}}</p>
            <p>Evaluation: {{bmi.evaluation}}</p>
        </div>

    </div>
</section>