body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex { 
    display: flex; 
}
.flex-column { 
    flex-direction: column; 
}

.mb-1 { 
    margin-bottom: 4px; 
}
.mb-2 { 
    margin-bottom: 8px; 
}

.btn {
    border: none;
    background-color: #3498db;
    color: white;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}

.card {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

#order-tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

td {
    padding: 4px 8px;
}